@font-face {
    font-family: "Manrope 700";
    src: local(),
    url("../fonts/Manrope/static/Manrope-Bold.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-Bold.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 800";
    src: local(),
    url("../fonts/Manrope/static/Manrope-ExtraBold.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-ExtraBold.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 600";
    src: local(),
    url("../fonts/Manrope/static/Manrope-SemiBold.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-SemiBold.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 500";
    src: local(),
    url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-Medium.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 400";
    src: local(),
    url("../fonts/Manrope/static/Manrope-Regular.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-Regular.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 300";
    src: local(),
    url("../fonts/Manrope/static/Manrope-Light.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-Light.ttf") format("wof2f");
}
@font-face {
    font-family: "Manrope 200";
    src: local(),
    url("../fonts/Manrope/static/Manrope-ExtraLight.ttf") format("woff"),
    url("../fonts/Manrope/static/Manrope-ExtraLight.ttf") format("wof2f");
}