*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

p{
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(36, 35, 35);
}
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
body{
    background-color:#141414;
   
}