.hero{

        background-image: url(/assets/image/home/hero\ backround.png);
        height: 90vh;
        background-repeat: no-repeat;
        background-size: cover;
       
    
    h1 {    
        font-family: Manrope;
        font-size: 58px;
        font-weight: 700;
        line-height: 87px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        margin-bottom: 30px;
    }
    p {
        font-family: Manrope;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        color: #ffffff;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    button {
        background: #e50000;
        width: 251px;
        height: 64px;
        padding: 18px, 24px, 18px, 24px;
        border-radius: 8px;
       
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 600px;
        margin-top: 50px;
        color: white;
    }
    .hero__section {
        padding-top: 550px;
    }
}

